@{
	ViewBag.Title = "Index";
}

@section Styles {
@*<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>*@
}

<h2>User</h2>
<div class="fa-4x">
	<i class="fab fa-font-awesome"></i>
	<i class="fab fa-font-awesome fa-rotate-90"></i>
	<i class="fab fa-font-awesome fa-rotate-180"></i>
	<i class="fab fa-font-awesome fa-rotate-270"></i>
	<i class="fab fa-font-awesome fa-flip-horizontal"></i>
	<i class="fab fa-font-awesome fa-flip-vertical"></i>
</div>