@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>INSPINIA | Login</title>

	<link href="~/Content/template/bootstrap.min.css" rel="stylesheet">
	<link href="~/fonts/font-awesome/all.min.css" rel="stylesheet">

	<link href="~/Content/template/animate.css" rel="stylesheet">
	<link href="~/Content/template/style.css" rel="stylesheet">
</head>

<body class="gray-bg">

	<div class="middle-box text-center loginscreen  animated fadeInDown">
		<div>
			<div>

				<h1 class="logo-name">ST</h1>
			</div>
			<h3>@System.Web.Configuration.WebConfigurationManager.AppSettings["AppName"]</h3>			
			<p>Iniciar sesión</p>
			<form class="m-t" role="form" action="#">
				<div class="form-group">
					<input type="email" class="form-control" placeholder="Usuario" required="">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Contraseña" required="">
				</div>
				<button type="submit" class="btn btn-primary block full-width m-b">Acceder</button>

				<a href="#"><small>Olvidé mi contraseña</small></a>				
			</form>			
		</div>
	</div>
</body>
</html>