<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
      <add key="AuthorizationValue" value="Basic YWRtaW46NGRtMW4="/>
      <add key="DashboardUrls" value="http://localhost:61607/Dashboard"/>
      <add key="LogFileName" value="log.txt" />
      <add key="MaxLogSizeMB" value="1"/>
    </appSettings>
</configuration>