@using MVC_Project.WebBackend.Models;
@using MVC_Project.WebBackend.Utils.Enums;
@using MVC_Project.Resources;
@if (Session["View.Message"] != null && (Session["View.Message"] is MessageView))
{
    var message = (MessageView)Session["View.Message"];
    string alertClass;
    switch (message.type)
    {
        case TypeMessageView.INFO:
            alertClass = "info";
            break;
        case TypeMessageView.SUCCESS:
            alertClass = "success";
            break;
        case TypeMessageView.WARNING:
            alertClass = "warning";
            break;
        case TypeMessageView.ERROR:
            alertClass = "danger";
            break;
        default:
            alertClass = "info";
            break;
    }

    <div>
        <div class="alert alert-@alertClass alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @if (alertClass.Equals("danger"))
            {
                <strong>Error!</strong>
            }
            @if (alertClass.Equals("info") || alertClass.Equals("success"))
            {
                <strong>@ViewLabels.Message!</strong>
            }
            @if (alertClass.Equals("warning"))
            {
                <strong>@ViewLabels.Warning!</strong>
            }
            &nbsp; @Html.Raw(message.description)
        </div>
    </div>
    Session.Remove("View.Message");

}

