@{
    ViewBag.Title = "Bienvenido al Portal Administrativo";  //@ViewLabels.HOME_TITLE;
}
<div class="row">
    <div class="col-md-12">
        <img src="~/Images/home_mf.png" width="50%"/>
    </div>
   
</div>