<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <connectionStrings>
    <add name="testConectionString" connectionString="server=tcp:nb1bnr2a4v.database.windows.net;database=testDB;user id=adminTest@nb1bnr2a4v;password=Nullpointer1;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
